
<body>
    <div class="container">
        <h2>Login</h2>
  
  </div>
  <form action="/api/sessions/login" method="post">

        <div class="form-group">
            <label for="email">{{emailLabel}}</label>
            <input type="text" id="emailLogin" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">{{passwordLabel}}</label>
            <input type="password" id="passwordLogin" name="password" required>
      
        <button id="SendLogin" type="submit">Enviar</button>
    </form>

</body>